@import '_shared.scss';

body {
  margin: 0;
  background: $casal;
}

.app-component {
  @include gotham-book;
  color: $white;

  .wasd {
    position: fixed !important;
    bottom: 25px;
    left: 25px;
  }

  .arrows {
    position: fixed !important;
    bottom: 25px;
    right: 25px;
  }
}